

<html>
    <head>
        <title>My first page</title>
        <link rel="stylesheet" href="../static/css/style.css">


    </head>
    <body background="https://cdn.wallpapersafari.com/26/84/xPpRTy.jpg">

        <header> 
           <div class="head-tag">
            <a href ='add'> Add Employee </a>
            <a href ='view'> View Employee </a>
            <a href ='edit'> Edit Employee </a>
            <a href ='delete'> delete Employee </a>

             </div>
        </header>
<h1>Hello World!!</h1>
<p>This is my first paragraph</p>
<!--<a href="home.html">Salary Prediction</a>-->
    </body>
</html>